<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <script src="https://cdn.tailwindcss.com"></script>
{#    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">#}
</head>
<body class="bg-gray-100">
    <div class="container mx-auto mt-4 p-4 bg-white shadow-lg rounded-lg">
        <h1 class="text-2xl font-semibold mb-4">Add New Book</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Add Book</button>
        </form>
    </div>
</body>
</html>